[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
matplotlib = "*"
torchvision = "*"
pathlib = "*"
pillow = "*"
mmsegmentation = "*"
openmim = "*"
ipykernel = "*"
tqdm = "*"
black = "*"
flake8 = "*"
flake8-docstrings = "*"
gmplot = "*"
isort = "*"
joblib = "*"
motmetrics = "*"
mypy = "*"
pandas = "*"
pycocotools = "*"
pylint = "*"
pytest = "*"
scikit-image = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tabulate = "*"
toml = "*"
scalabel = {git = "https://github.com/scalabel/scalabel.git"}
flwr = "*"
ray = "==2.3.1"
scikit-learn = "*"
src = {editable = true, path = "./src"}
bdd100k = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
