torch==2.0.1
torchvision==0.15.2
-e ./src
matplotlib
mmsegmentation==1.1.2
openmim    # then run:  mim install mmcv==2.0.0
mmdet==3.2.0
ipykernel
tqdm
pandas
flwr==1.5.0
ray==2.7.1
bdd100k
scikit-learn==1.3.1
graphviz  # need to install graphviz by apt or yum first 